<!doctype html>

<html>

    <head>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Cryptocurrency Tables</title>

        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

    </head>

    <body>

    <style type="text/css">
        table {
            border-collapse: collapse;
            width: 100%;
            color: #588c7e;
            font-family: monospace;
            font-size: 15px;
            text-align: left;
                }
        th {
            background-color: #588c7e
            color: white;
            }
        tr:nth-child(even) {background-color: #f2f2f2}

    </style>

    <h1>Cryptocurrency Tables</h1>

    <form method="post" id="deposit_form">
          {% csrf_token %}
          <input type="submit" value="Update">
    </form>

    <table>

        <div class="mw6 center pa3 sans-serif">

            <div class="pl2">

            <tr>

                <th>Coin Name</th>

                <th>Price</th>

                <th>Balance</th>

                <th>Deposit</th>

                <th>Percentage Change</th>

                <th>Coins</th>

            </tr>

            {% for data in coinData %}

            <tr>

                <td>{{ data.name }}</td>

                <td>{{ data.price }}</td>

                <td>{{ data.balance }}</td>

                <td>{{ data.deposit }}</td>

                <td>{{ data.change }}</td>

                <td>{{ data.coins }}</td>

            </tr>

                {% endfor %}

            </div>

        </div>

    </table>
    </body>
</html>